<div class="jumbotron">
      <div class="container">
        <h1><span class="glyphicon glyphicon-remove aria-hidden="true"></span> Error</h1>
        <h2>Smth goes wrong :(</h2>
        <p>Probably login or password that you have provided are invalid. Please, try again.</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="base.login" role="button">Go to Login »</a></p>
      </div>
    </div>