<div class="container">
    <form class="form-login" name="loginForm">
        <h2 class="form-login-heading">Please sign in</h2>
        
        <!-- Login -->
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" name="login" 
                class="form-control" placeholder="Login" 
                ng-required="true" ng-pattern="/^[A-Za-z]*[0-9]*$/" 
                ng-minlength="4" ng-maxlength="16" autofocus="" 
                ng-model="loginCtrl.UserCredentials.login" >
        <!-- Password -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" 
                class="form-control" placeholder="Password" 
                ng-required="true" ng-minlength="6" ng-maxlength="32" 
                ng-model="loginCtrl.UserCredentials.password">
        <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="loginCtrl.UserCredentials.remember"> Remember me
        </label>
        </div>
    
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.login.$invalid || loginForm.password.$invalid" ng-click="loginCtrl.login()">Sign in</button>
        
        <!-- Validation Errors -->
        <div ng-show="loginForm.login.$invalid || loginForm.password.$invalid"  class="list-group">
            <p class="list-group-item error-message" ng-show="loginForm.login.$error.required && !loginForm.login.$pristine">Login is required.</p>
            <p class="list-group-item error-message" ng-show="loginForm.login.$error.pattern  && !loginForm.login.$pristine">Login can contain only letters and digits.</p>
            <p class="list-group-item error-message" ng-show="loginForm.login.$error.minlength  && !loginForm.login.$pristine">Login is too short (minimum 4)</p>
            <p class="list-group-item error-message" ng-show="loginForm.login.$error.maxlength   && !loginForm.login.$pristine">Login is too long (maximum 16)</p>

            <p class="list-group-item error-message" ng-show="loginForm.password.$error.minlength   && !loginForm.login.$pristine">Password is too short (minimum 6)</p>
            <p class="list-group-item error-message" ng-show="loginForm.password.$error.maxlength   && !loginForm.login.$pristine">Password is too long (maximum 32)</p>
        </div>
    </form>
</div>