<div class="jumbotron">
      <div class="container">
        <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success</h1>
        <h2>Hello there :)</h2>
        <p>Dear <b>{{baseCtrl.UserData.login}}</b>, we are very happy to see that you successfully reached this page.</p>
        <button class="btn btn-lg btn-warning" type="submit" ng-click="baseCtrl.logout()">Sign out</button>
      </div>
    </div>