body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-login {
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login div.list-group {
    width: 260px;
    margin: 0 auto;
}
.form-login div.list-group p.error-message {
  margin-top: 5px;
  font-size: 12px;
  color: #793c3c;
}